---
layout: markdown_page
title: "Category Direction - Authorization and Authentication"
description: "Authentication and authorization keep resources secure but accessible."
canonical_path: "/direction/manage/auth/"
---

- TOC
{:toc}

| Category | **Authorization and Authentication** |
| --- | --- |
| Stage | [Manage](https://about.gitlab.com/handbook/product/categories/#manage-stage) |
| Group | [Authentication and Authorization](https://about.gitlab.com/handbook/product/categories/#authentication-and-authorization-group) |
| Maturity | [Complete](/direction/maturity/) |
| Content Last Reviewed | `2023-03-20` |


<%= partial("direction/manage/auth/templates/intro") %>

## Overview

<%= partial("direction/manage/auth/templates/overview") %>

### Target audience and experience

<%= partial("direction/manage/auth/templates/target") %>


## Where we are Headed

Security is top of mind for our customers, and by default, is also the highest priority for the Authentication and Authorization team. Our aim is to provide GitLab administrators the toolkit they need to make their GitLab experience both secure and accessible for their users - and to give them the flexibility to implement that in any way they choose. Just being able to securty authenticate with GitLab is not enough. GitLab administrators need to secure all authentication avenues into the product, manage their users using automated processes, and have fine-grained control over what their users can and can't do in the product.

To be more specific, we are keenly aware of the increased security needs in Authentication and Authorization. The credentials that users are able to obtain are the "keys to the kingdom" and in a large enterprise, there needs to be strict inventory and management of these credentials, ensuring that their use and scope can be monitored, rotated, and revoked if necessary. In fact, there is even a shift away from using human-tied credentials altogether. They are too easily comprimised and prone to human error. Our team will provide authentication solutions that aren't tied to humans to faciliate automated processes that have less security risk.

### What's Next and Why

<%= partial("direction/manage/auth/templates/next") %>

## Maturity Plan

<%= partial("direction/manage/auth/templates/maturity") %>

<%= partial("direction/manage/auth/templates/competitors") %>

## Goals

### Near-Term Goals

1. We delivered our first [customer facing MVC](https://gitlab.com/gitlab-org/gitlab/-/issues/20277) for customizable roles in 15.9. This MVC allows GitLab.com Guest users on an Ultimate license to view code, which is a popular issue amongst our customers. Currently, the guest role does not have this permission. This will be achieved by adding one custom permission to the existing role of "Guest", creating a new custom role. Think of it as "Guest+1".

We are currently implementing a [license check](https://gitlab.com/gitlab-org/gitlab/-/issues/390269) so that any custom role that is elevated above the current Guest role will consume a seat. We have gathered feedback on the [most requested permissions](https://gitlab.com/gitlab-org/gitlab/-/issues/391760) and will be making progress on the list - iteratively adding the permissions to the customizable roles framework so that they can be used to create new roles. We are starting with the permission for [viewing the vulnerability report](https://gitlab.com/gitlab-org/gitlab/-/issues/388156) is a common customer ask.

2. For [Enterprise Users](https://gitlab.com/groups/gitlab-org/-/epics/5299), we are putting the final touches on our [automated user claims process](https://gitlab.com/gitlab-org/gitlab/-/issues/322039), which means that any user that matches a verified domain and was not provisioned will automatically belong to the Enterprise.

Next up, we will be adding a [visual indicator](https://gitlab.com/gitlab-org/gitlab/-/issues/372895) to Enterprise-managed accounts, so that it's clear to both users and group owners when their account is owned by their company.

3. In 16.0 we have a [lot of removals](https://gitlab.com/groups/gitlab-org/-/epics/8490) that will need to take place. This will take up almost all of our feature capacity for 16.0.

### Mid-Term Goals

1. [Service Accounts](https://gitlab.com/groups/gitlab-org/-/epics/6777) - will roll Group and Project Access tokens into a new concept called Service Accounts, which will be better attuned to the needs of integrations rather than human users. We have laid the ground with [backend services](https://gitlab.com/gitlab-org/gitlab/-/issues/392000) and will start work on the [frontend](https://gitlab.com/groups/gitlab-org/-/epics/9965)

2. Continue to add customizable permissions to the framework


### Top Vision Item(s)

<%= partial("direction/manage/auth/templates/vision") %>
